@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

$primary: #FFD32A;
$secondary: #3498db;
$light: #E5E5E5;
$dark: #202124;
$danger: rgb(255, 72, 72);

$quicksand: 'Quicksand', sans-serif;