<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Twitt'<span class="text-primary">Moji</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if not app.user %}
                    <li class="nav-item mt-2 mt-lg-0">
                        <a class="nav-link active py-2 text-primary" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item mt-2 mt-lg-0">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="far fa-user"></i>
                            {{ app.user.username }}</a>
                    </li>
                    <li class="nav-item mt-2 mt-lg-0">
                        <a class="nav-link text-danger" aria-current="page" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
